
<div class="container">
	<h1>Welcome back!</h1>
     <div class="login">
      <h3>Login</h3>
      <form method="post" action="/login">
        <p><input type="text" name="email" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
         </p>
         <!-- <form method="post" action="/register">
        <p class="submit"><input type="submit" name="commit" value="Register"></p> -->
      </form>
     <div class= "Register">
      <a href ="/users/new">Register</a>
    </div>
    <%if @errors%>
      <%=@errors%>
    <%end%>

</div>

